BITCOIN_RPC_URL=https://bitcoin-mainnet.g.alchemy.com/
BTC_USD_ADDRESS=0x614dCAfa33AF0705C7b4A37667eF511F400F36d0
CHAIN_ID=84532
DEPLOYER_PRIVATEKEY=
ETHEREUM_RPC_URL=https://base-sepolia.g.alchemy.com/v2/
ETHERSCAN_API_KEY=D7RIA7FB6BQARSTUQX64P2XIJZGF77GZHR
HASHPRICE_BTC_ADDRESS=0xcba11d73153795cf0ee8d5bffec8ecfd6807b789
HASHPRICE_USD_ADDRESS=0x631fc8b0dcedf1418e18967cc13d9ffd60c09070
HASHPRICE_START_BLOCK=40244553
HASHPRICE_POLLING_BLOCK_INTERVAL=10000
LOG_LEVEL=debug
NETWORK=base-sepolia
PRIVATE_KEY=
SUBGRAPH_ETH_NODE=base-sepolia:https://base-sepolia.g.alchemy.com/
USDC_TOKEN_ADDRESS=0xdd15eed84065a58c9e9ff9e95fb996be0fff22aa
